In [1]:
#%%

import time
import json
import numpy as np
import pandas as pd
from pandas import json_normalize

import datetime

import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error

import warnings
warnings.filterwarnings('ignore')

#Scatterplot and Correlation Matrix - Kaustubh
#Frequency Tables - Jonathan and Stephanie
#Naiyu - histograms

In [3]:
#%%
def load_df(csv_path, nrows = None):
    json_cols = ['device', 'geoNetwork', 'totals', 'trafficSource']
    df = pd.read_csv(csv_path,
                     #converters are dict of functions for converting values in certain columns. Keys can either be integers or column labels.
                     #json.loads() method can be used to parse a valid JSON string and convert it into a Python Dictionary.
                     #It is mainly used for deserializing native string, byte, or byte array which consists of JSON data into Python Dictionary.
                     converters = {col: json.loads for col in json_cols},                                                                         
                         dtype = {'fullVisitorId': 'str'}, # Important!!
                         nrows = nrows)
    for col in json_cols:
        # for each column, flatten data frame such that the values of a single col are spread in different cols
        # This will use subcol as names of flat_col.columns
        flat_col = json_normalize(df[col])
        # Name the columns in this flatten data frame as col.subcol for tracability
        flat_col.columns = [f"{col}.{subcol}" for subcol in flat_col.columns]
        # Drop the json_col and instead add the new flat_col
        df = df.drop(col, axis = 1).merge(flat_col, right_index = True, left_index = True)
    return df


csv_train_path = 'train.csv'
csv_test_path = 'test.csv'

train = load_df(csv_train_path, nrows = 100000)
# test = load_df(csv_test_path, nrows = 30000)
train.shape
# %%

(100000, 55)

In [4]:
train

,channelGrouping,date,fullVisitorId,sessionId,socialEngagementType,visitId,visitNumber,visitStartTime,device.browser,device.browserVersion,...,trafficSource.adwordsClickInfo.criteriaParameters,trafficSource.isTrueDirect,trafficSource.referralPath,trafficSource.adwordsClickInfo.page,trafficSource.adwordsClickInfo.slot,trafficSource.adwordsClickInfo.gclId,trafficSource.adwordsClickInfo.adNetworkType,trafficSource.adwordsClickInfo.isVideoAd,trafficSource.adContent,trafficSource.campaignCode
0,Organic Search,20160902,1131660440785968503,1131660440785968503_1472830385,Not Socially Engaged,1472830385,1,1472830385,Chrome,not available in demo dataset,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Organic Search,20160902,377306020877927890,377306020877927890_1472880147,Not Socially Engaged,1472880147,1,1472880147,Firefox,not available in demo dataset,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Organic Search,20160902,3895546263509774583,3895546263509774583_1472865386,Not Socially Engaged,1472865386,1,1472865386,Chrome,not available in demo dataset,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Organic Search,20160902,4763447161404445595,4763447161404445595_1472881213,Not Socially Engaged,1472881213,1,1472881213,UC Browser,not available in demo dataset,...,not available in demo dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Organic Search,20160902,27294437909732085,27294437909732085_1472822600,Not Socially Engaged,1472822600,2,1472822600,Chrome,not available in demo dataset,...,not available in demo dataset,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,Social,20161030,06201955442296075,06201955442296075_1477892744,Not Socially Engaged,1477892744,1,1477892744,Safari,not available in demo dataset,...,not available in demo dataset,NaN,/yt/about/th/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,Social,20161030,3638854205116467643,3638854205116467643_1477840657,Not Socially Engaged,1477840657,1,1477840657,Chrome,not available in demo dataset,...,not available in demo dataset,NaN,/yt/about/zh-TW/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,Social,20161030,5058770420082063061,5058770420082063061_1477889694,Not Socially Engaged,1477889694,1,1477889694,Chrome,not available in demo dataset,...,not available in demo dataset,NaN,/yt/about/vi/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,Social,20161030,5749057926198995016,5749057926198995016_1477842029,Not Socially Engaged,1477842029,1,1477842029,Safari,not available in demo dataset,...,not available in demo dataset,NaN,/yt/about/fr/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,Social,20161030,6670375436765084120,6670375436765084120_1477852527,Not Socially Engaged,1477852527,1,1477852527,Safari,not available in demo dataset,...,not available in demo dataset,NaN,/yt/about/es/,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
len(train["device.browserVersion"].unique())
train.date.dtype == 'int64'

True

In [6]:
train.dtypes

channelGrouping                                      object
date                                                  int64
fullVisitorId                                        object
sessionId                                            object
socialEngagementType                                 object
visitId                                               int64
visitNumber                                           int64
visitStartTime                                        int64
device.browser                                       object
device.browserVersion                                object
device.browserSize                                   object
device.operatingSystem                               object
device.operatingSystemVersion                        object
device.isMobile                                        bool
device.mobileDeviceBranding                          object
device.mobileDeviceModel                             object
device.mobileInputSelector                           object
device.mobileDeviceInfo                              object
device.mobileDeviceMarketingName                     object
device.flashVersion                                  object
device.language                                      object
device.screenColors                                  object
device.screenResolution                              object
device.deviceCategory                                object
geoNetwork.continent                                 object
geoNetwork.subContinent                              object
geoNetwork.country                                   object
geoNetwork.region                                    object
geoNetwork.metro                                     object
geoNetwork.city                                      object
geoNetwork.cityId                                    object
geoNetwork.networkDomain                             object
geoNetwork.latitude                                  object
geoNetwork.longitude                                 object
geoNetwork.networkLocation                           object
totals.visits                                        object
totals.hits                                          object
totals.pageviews                                     object
totals.bounces                                       object
totals.newVisits                                     object
totals.transactionRevenue                            object
trafficSource.campaign                               object
trafficSource.source                                 object
trafficSource.medium                                 object
trafficSource.keyword                                object
trafficSource.adwordsClickInfo.criteriaParameters    object
trafficSource.isTrueDirect                           object
trafficSource.referralPath                           object
trafficSource.adwordsClickInfo.page                  object
trafficSource.adwordsClickInfo.slot                  object
trafficSource.adwordsClickInfo.gclId                 object
trafficSource.adwordsClickInfo.adNetworkType         object
trafficSource.adwordsClickInfo.isVideoAd             object
trafficSource.adContent                              object
trafficSource.campaignCode                           object
dtype: object

In [7]:
cat_vars = []
for col in train.columns:
    if train[col].dtype == 'O':
        if len(train[col].value_counts()) > 1:
            cat_vars.append(col)

In [8]:
cat_vars

['channelGrouping',
 'fullVisitorId',
 'sessionId',
 'device.browser',
 'device.operatingSystem',
 'device.deviceCategory',
 'geoNetwork.continent',
 'geoNetwork.subContinent',
 'geoNetwork.country',
 'geoNetwork.region',
 'geoNetwork.metro',
 'geoNetwork.city',
 'geoNetwork.networkDomain',
 'totals.hits',
 'totals.pageviews',
 'totals.transactionRevenue',
 'trafficSource.campaign',
 'trafficSource.source',
 'trafficSource.medium',
 'trafficSource.keyword',
 'trafficSource.referralPath',
 'trafficSource.adwordsClickInfo.page',
 'trafficSource.adwordsClickInfo.slot',
 'trafficSource.adwordsClickInfo.gclId',
 'trafficSource.adwordsClickInfo.adNetworkType',
 'trafficSource.adContent']

In [9]:
for i in cat_vars:
    print(pd.crosstab(index=train[i], columns='count') .sort_values("count", ascending = False))

col_0            count
channelGrouping
Organic Search   42019
Social           24378
Direct           15814
Referral         12095
Paid Search       3022
Affiliates        1900
Display            768
(Other)              4
col_0                count
fullVisitorId
1957458976293878100     44
0824839726118485274     26
3269834865385146569     23
3608475193341679870     21
4038076683036146727     19
...                    ...
3504260133191015550      1
3504190896738931466      1
3504105867871633072      1
3504095512782487176      1
9999799804624735268      1

[89213 rows x 1 columns]
col_0                           count
sessionId
0387871673225482446_1480492793      2
7817946123013268752_1480492790      2
946085548949296102_1480492063       2
7980925080669177483_1498285182      2
0996739878901151740_1497682650      2
...                               ...
3376391763828760484_1478837572      1
3376334945486588027_1481325414      1
3376183746916341745_1471932513      1
3376103017053775290_1478998999      1
9999799804624735268_1497212717      1

[99993 rows x 1 columns]
col_0                     count
device.browser
Chrome                    68984
Safari                    20467
Firefox                    4004
Internet Explorer          2080
Edge                       1063
Safari (in-app)             743
Android Webview             715
Opera Mini                  631
Opera                       525
UC Browser                  249
YaBrowser                   209
Coc Coc                      73
Android Browser              60
Amazon Silk                  57
Mozilla Compatible Agent     32
BlackBerry                   24
MRCHROME                     23
Maxthon                      18
Nintendo Browser             17
Nokia Browser                 8
Puffin                        7
LYF_LS_4002_12                3
osee2unifiedRelease           2
NokiaE52-1                    1
Mozilla                       1
ThumbSniper                   1
Lunascape                     1
IE with Chrome Frame          1
ADM                           1
col_0                   count
device.operatingSystem
Windows                 38001
Macintosh               29089
Android                 13323
iOS                     11718
Linux                    4114
Chrome OS                3055
(not set)                 458
Windows Phone             153
BlackBerry                 28
Samsung                    27
Nintendo Wii               15
Firefox OS                  8
Xbox                        7
Nintendo WiiU               2
FreeBSD                     1
Nokia                       1
col_0                  count
device.deviceCategory
desktop                74135
mobile                 22635
tablet                  3230
col_0                 count
geoNetwork.continent
Americas              50435
Asia                  24661
Europe                21601
Africa                 1600
Oceania                1578
(not set)               125
col_0                    count
geoNetwork.subContinent
Northern America         43874
Southeast Asia            9212
Western Europe            6481
Southern Asia             6331
Northern Europe           6172
Eastern Europe            5212
Eastern Asia              4815
South America             4549
Western Asia              4180
Southern Europe           3736
Central America           1754
Australasia               1562
Northern Africa            851
Western Africa             272
Caribbean                  258
Southern Africa            221
Eastern Africa             210
(not set)                  125
Central Asia               123
Middle Africa               46
Melanesia                    8
Micronesian Region           7
Polynesia                    1
col_0               count
geoNetwork.country
United States       40939
India                5499
United Kingdom       4092
Vietnam              3114
Canada               2930
...                   ...
Curaçao                 1
Faroe Islands           1
Greenland               1
Guinea-Bissau           1
French Polynesia        1

[183 rows x 1 columns]
col_0                          count
geoNetwork.region
not available in demo dataset  55211
California                     12904
(not set)                       3044
New York                        2974
England                         1433
...                              ...
Beijing                            5
Tennessee                          5
Iowa                               3
Almaty Province                    2
Pathum Thani                       1

[218 rows x 1 columns]
col_0                                      count
geoNetwork.metro
not available in demo dataset              55211
(not set)                                  22529
San Francisco-Oakland-San Jose CA          11597
New York NY                                 3045
London                                      1378
Los Angeles CA                              1122
Seattle-Tacoma WA                            885
Chicago IL                                   879
Austin TX                                    403
Washington DC (Hagerstown MD)                332
Atlanta GA                                   267
Boston MA-Manchester NH                      263
Detroit MI                                   260
Houston TX                                   242
Roanoke-Lynchburg VA                         224
Dallas-Ft. Worth TX                          223
San Diego CA                                 164
Pittsburgh PA                                152
Charlotte NC                                 116
Portland OR                                   86
Columbus OH                                   82
Denver CO                                     73
Philadelphia PA                               64
San Antonio TX                                45
Phoenix AZ                                    41
North West                                    37
Las Vegas NV                                  23
Charleston SC                                 17
Orlando-Daytona Beach-Melbourne FL            15
Chico-Redding CA                              15
La Crosse-Eau Claire WI                       14
Jacksonville FL                               14
Minneapolis-St. Paul MN                       14
Salt Lake City UT                             13
St. Louis MO                                  13
Meridian (exc. Channel Islands)               12
Green Bay-Appleton WI                         12
Omaha NE                                      11
Greenville-Spartanburg-Asheville-Anderson     10
Norfolk-Portsmouth-Newport News VA             9
Miami-Ft. Lauderdale FL                        9
Raleigh-Durham (Fayetteville) NC               9
Indianapolis IN                                8
Kansas City MO                                 7
El Paso TX                                     7
Central Scotland                               7
JP_KANTO                                       7
Louisville KY                                  6
Sacramento-Stockton-Modesto CA                 6
Midlands                                       6
Springfield-Holyoke MA                         6
Nashville TN                                   5
Tampa-St. Petersburg (Sarasota) FL             5
col_0                          count
geoNetwork.city
not available in demo dataset  55211
Mountain View                   5223
(not set)                       3566
New York                        2974
San Francisco                   2280
...                              ...
Danville                           4
Council Bluffs                     3
Waterloo                           3
Bothell                            3
Almaty                             2

[290 rows x 1 columns]
col_0                     count
geoNetwork.networkDomain
(not set)                 27820
unknown.unknown           16004
comcast.net                3161
rr.com                     1582
ttnet.com.tr               1532
...                         ...
msoe.edu                      1
default.location              1
msg.de                        1
msamb.com                     1
logicforce.com                1

[7228 rows x 1 columns]
col_0        count
totals.hits
1            48514
2            15989
3             7801
4             4676
5             3415
...            ...
123              1
155              1
154              1
150              1
127              1

[165 rows x 1 columns]
col_0             count
totals.pageviews
1                 49087
2                 16708
3                  8223
4                  4987
5                  3704
...                 ...
119                   1
120                   1
126                   1
127                   1
197                   1

[129 rows x 1 columns]

col_0                      count
totals.transactionRevenue
16990000                      28
18990000                      25
33590000                      22
44790000                      20
13590000                      18
...                          ...
298270000                      1
298760000                      1
29880000                       1
2990000                        1
35080000                       1

[969 rows x 1 columns]
col_0                                            count
trafficSource.campaign
(not set)                                        95442
Data Share Promo                                  1901
AW - Dynamic Search Ads Whole Site                1637
AW - Accessories                                   921
test-liyuhz                                         56
Retail (DO NOT EDIT owners nophakun and tianyu)     27
AW - Apparel                                         9
AW - Electronics                                     7
col_0                  count
trafficSource.source
google                 44448
youtube.com            23060
(direct)               15814
mall.googleplex.com     7895
Partners                1901
...                      ...
google.gatewaycdi.com      1
google.es                  1
google.com.vn              1
google.com.tw              1
grow.googleplex.com        1

[161 rows x 1 columns]
col_0                 count
trafficSource.medium
organic               42019
referral              36473
(none)                15814
cpc                    3022
affiliate              1900
cpm                     768
(not set)                 4
col_0                            count
trafficSource.keyword
(not provided)                   40273
6qEhsCssdK0z36ri                  1338
(Remarketing/Content targeting)    284
google merchandise store           251
1hZbAqLCbjwfgOH7                   243
...                                ...
google gift card                     1
google gift                          1
google gear store                    1
google gear                          1
谷歌store                              1

[643 rows x 1 columns]
col_0                            count
trafficSource.referralPath
/                                 8731
/yt/about/                        7607
/yt/about/vi/                     1795
/yt/about/tr/                     1670
/analytics/web/                   1617
...                                ...
/intl/ro/yt/about/copyright/         1
/intl/ro/yt/about/                   1
/intl/pt-PT/yt/about/copyright/      1
/intl/pt-PT/yt/about/                1
/zwzp9zSOvd                          1

[527 rows x 1 columns]
col_0                                count
trafficSource.adwordsClickInfo.page
1                                     2566
2                                        4
3                                        2
5                                        2
col_0                                count
trafficSource.adwordsClickInfo.slot
Top                                   2527
RHS                                     47
col_0                                               count
trafficSource.adwordsClickInfo.gclId
Cj0KEQjwmIrJBRCRmJ_x7KDo-9oBEiQAuUPKMufMpuG3Zdw...     10
Cj0KEQjwo-XIBRCOycL7hsuI_NoBEiQAuS6HtHOpolLDj1N...      6
Cj0KEQjw1ee_BRD3hK6x993YzeoBEiQA5RH_BEA562M9tvl...      5
CLmbp87C0NQCFQ9EfgodIv4PTg                              4
Cj0KEQjwuZvIBRD-8Z6B2M2Sy68BEiQAtjYS3LI8d1dPIlf...      4
...                                                   ...
Cj0KEQiA1b7CBRDjmIPL4u-Zy6gBEiQAsJhTMFORR3qGkM9...      1
Cj0KEQiA1b7CBRDjmIPL4u-Zy6gBEiQAsJhTMF9XVhnObNn...      1
Cj0KEQiA1b7CBRDjmIPL4u-Zy6gBEiQAsJhTMF7QTfCBBD2...      1
Cj0KEQiA1b7CBRDjmIPL4u-Zy6gBEiQAsJhTMEuDo2PwujL...      1
EAIaIQobChMIz_23hM2W1AIVF5d-Ch0MgwHIEAAYASAAEgK...      1

[2389 rows x 1 columns]
col_0                                         count
trafficSource.adwordsClickInfo.adNetworkType
Google Search                                  2573
Search partners                                   1
col_0                               count
trafficSource.adContent
Google Merchandise Collection         662
Google Online Store                   148
Display Ad created 3/11/14            114
Full auto ad IMAGE ONLY                98
Display Ad created 3/11/15             56
Ad from 12/13/16                       50
{KeyWord:Google Merchandise}           28
Display Ad created 11/17/14            27
{KeyWord:Google Brand Items}           27
{KeyWord:Google Branded Gear}          14
Ad from 11/3/16                        13
{KeyWord:Looking for Google Bags?}     12
Swag with Google Logos                 12
First Full Auto Template Test Ad       11
{KeyWord:Want Google Stickers?}         9
20% discount                            6
{KeyWord:Google Drinkware}              5
Ad from 11/7/16                         5
Google Merchandise                      4
{KeyWord:Google Branded Apparel}        4
{KeyWord:Google Men's T-Shirts}         4
Full auto ad TEXT ONLY                  4
Google Paraphernalia                    2
Want Google Sunglasses                  2
{KeyWord:Google Branded Kit}            2
LeEco_1a                                1
Men's-Outerwear Google Apparel          1
google store                            1
Full auto ad TEXT/NATIVE                1
{KeyWord:Want Google Pet Toys?}         1
Google Store                            1

In [10]:
# Notes on variables

# There are multiple observations for some vistors and devices
# in order for observations to be indep, need to remove multiple observations


# Identified vars that had multiple values and were not mostly missing

# ---- Usuable cat vars ----
# channelGrouping
# device.browser
# device.operatingSystem
# device.deviceCategory
# geoNetwork.continent
# geoNetwork.subContinent
# geoNetwork.country
# totals.hits
# totals.pageviews
# totals.transactionRevenue
# trafficSource.source
# trafficSource.medium
# trafficSource.adContent

In [12]:
from tabulate import tabulate

In [37]:
usuable_cat_vars = ["channelGrouping", "device.browser", "device.operatingSystem", "device.deviceCategory",
                    "geoNetwork.continent", "geoNetwork.subContinent", "geoNetwork.country", "totals.hits",
                    "totals.pageviews", "totals.transactionRevenue", "trafficSource.source", "trafficSource.medium",
                    "trafficSource.adContent"]

# for var in usuable_cat_vars:
#     print((pd.crosstab(index=train[var], columns='count') .sort_values("count", ascending = False)).to_markdown)


from IPython.core import display as ICD
for var in usuable_cat_vars:
    ICD.display((pd.crosstab(index=train[var], columns='count') .sort_values("count", ascending = False)))

col_0            count
channelGrouping
Organic Search   42019
Social           24378
Direct           15814
Referral         12095
Paid Search       3022
Affiliates        1900
Display            768
(Other)              4

col_0                     count
device.browser
Chrome                    68984
Safari                    20467
Firefox                    4004
Internet Explorer          2080
Edge                       1063
Safari (in-app)             743
Android Webview             715
Opera Mini                  631
Opera                       525
UC Browser                  249
YaBrowser                   209
Coc Coc                      73
Android Browser              60
Amazon Silk                  57
Mozilla Compatible Agent     32
BlackBerry                   24
MRCHROME                     23
Maxthon                      18
Nintendo Browser             17
Nokia Browser                 8
Puffin                        7
LYF_LS_4002_12                3
osee2unifiedRelease           2
NokiaE52-1                    1
Mozilla                       1
ThumbSniper                   1
Lunascape                     1
IE with Chrome Frame          1
ADM                           1

col_0                   count
device.operatingSystem
Windows                 38001
Macintosh               29089
Android                 13323
iOS                     11718
Linux                    4114
Chrome OS                3055
(not set)                 458
Windows Phone             153
BlackBerry                 28
Samsung                    27
Nintendo Wii               15
Firefox OS                  8
Xbox                        7
Nintendo WiiU               2
FreeBSD                     1
Nokia                       1

col_0                  count
device.deviceCategory
desktop                74135
mobile                 22635
tablet                  3230

col_0                 count
geoNetwork.continent
Americas              50435
Asia                  24661
Europe                21601
Africa                 1600
Oceania                1578
(not set)               125

col_0                    count
geoNetwork.subContinent
Northern America         43874
Southeast Asia            9212
Western Europe            6481
Southern Asia             6331
Northern Europe           6172
Eastern Europe            5212
Eastern Asia              4815
South America             4549
Western Asia              4180
Southern Europe           3736
Central America           1754
Australasia               1562
Northern Africa            851
Western Africa             272
Caribbean                  258
Southern Africa            221
Eastern Africa             210
(not set)                  125
Central Asia               123
Middle Africa               46
Melanesia                    8
Micronesian Region           7
Polynesia                    1

col_0               count
geoNetwork.country
United States       40939
India                5499
United Kingdom       4092
Vietnam              3114
Canada               2930
...                   ...
Curaçao                 1
Faroe Islands           1
Greenland               1
Guinea-Bissau           1
French Polynesia        1

[183 rows x 1 columns]

col_0        count
totals.hits
1            48514
2            15989
3             7801
4             4676
5             3415
...            ...
123              1
155              1
154              1
150              1
127              1

[165 rows x 1 columns]

col_0             count
totals.pageviews
1                 49087
2                 16708
3                  8223
4                  4987
5                  3704
...                 ...
119                   1
120                   1
126                   1
127                   1
197                   1

[129 rows x 1 columns]

col_0                      count
totals.transactionRevenue
16990000                      28
18990000                      25
33590000                      22
44790000                      20
13590000                      18
...                          ...
298270000                      1
298760000                      1
29880000                       1
2990000                        1
35080000                       1

[969 rows x 1 columns]

col_0                  count
trafficSource.source
google                 44448
youtube.com            23060
(direct)               15814
mall.googleplex.com     7895
Partners                1901
...                      ...
google.gatewaycdi.com      1
google.es                  1
google.com.vn              1
google.com.tw              1
grow.googleplex.com        1

[161 rows x 1 columns]

col_0                 count
trafficSource.medium
organic               42019
referral              36473
(none)                15814
cpc                    3022
affiliate              1900
cpm                     768
(not set)                 4

col_0                               count
trafficSource.adContent
Google Merchandise Collection         662
Google Online Store                   148
Display Ad created 3/11/14            114
Full auto ad IMAGE ONLY                98
Display Ad created 3/11/15             56
Ad from 12/13/16                       50
{KeyWord:Google Merchandise}           28
Display Ad created 11/17/14            27
{KeyWord:Google Brand Items}           27
{KeyWord:Google Branded Gear}          14
Ad from 11/3/16                        13
{KeyWord:Looking for Google Bags?}     12
Swag with Google Logos                 12
First Full Auto Template Test Ad       11
{KeyWord:Want Google Stickers?}         9
20% discount                            6
{KeyWord:Google Drinkware}              5
Ad from 11/7/16                         5
Google Merchandise                      4
{KeyWord:Google Branded Apparel}        4
{KeyWord:Google Men's T-Shirts}         4
Full auto ad TEXT ONLY                  4
Google Paraphernalia                    2
Want Google Sunglasses                  2
{KeyWord:Google Branded Kit}            2
LeEco_1a                                1
Men's-Outerwear Google Apparel          1
google store                            1
Full auto ad TEXT/NATIVE                1
{KeyWord:Want Google Pet Toys?}         1
Google Store                            1

In [30]:
pd.crosstab(index=train["channelGrouping"], columns='count') .sort_values("count", ascending = False)

col_0            count
channelGrouping
Organic Search   42019
Social           24378
Direct           15814
Referral         12095
Paid Search       3022
Affiliates        1900
Display            768
(Other)              4

In [39]:
train.to_csv('train_s.csv')